/* Estilos generales */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
  }
  
  h1 {
    margin: 0;
  }
  
  main {
    padding: 2em;
  }
  
  /* Sección filtros */
  .seccion-filtros {
    margin-bottom: 2em;
  }
  
  .contenedor-filtros {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  label {
    margin-right: 10px;
  }
  
  select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Sección lista */
  .seccion-lista {
    text-align: center;
  }
  
  #lista-anime {
    list-style: none;
    padding: 0;
  }
  
  .anime {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .anime:hover {
    background-color: #eee;
  }
  
  .anime img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .anime h3 {
    margin: 0;
  }
  
  .anime p {
    margin: 0;
  }
  